<nav class="bg-black text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
       <div class="flex justify-around h-20">
          <!-- Logo -->
          <div class="flex-shrink-0 flex items-center">
             <a href="/home" class="text-2xl font-semibold">
                <div class="grid grid-rows-2 gap-0 text-center">
                   <!-- Primera fila: "MI" y el logo -->
                   <div class="flex items-center justify-center">
                      <p class="mr-1">MI</p>
                      <img
                         src="https://res.cloudinary.com/dqgykik8d/image/upload/v1730131519/logo-removebg-preview_thlday.png"
                         class="h-8 w-auto"
                         alt="Logo"
                      />
                   </div>
                   <!-- Segunda fila: "BOLETA" centrado -->
                   <p>BOLETA</p>
                </div>
             </a>
          </div>

          <!-- Menu del medio -->
          <div class="hidden md:flex space-x-4 items-center text-yellow-500">
             <a href="#" class="px-3 py-2 rounded-md text-sm font-medium border  hover:bg-gray-700">Eventos</a>
             <a href="#" class="px-3 py-2 rounded-md text-sm font-medium border hover:bg-gray-700">Categorías</a>
            
          </div>
          
          <!-- Menu del fin -->
          <div class="hidden md:flex space-x-4 items-center">
            <a href="#" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700"><div class="flex flex-col justify-center items-center"> <span class="pi pi-user text-2xl"></span><h2>Ingresar</h2></div></a>
            <a href="#" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700"><div class="flex flex-col justify-center items-center"> <span class="pi pi-shopping-bag text-2xl"></span><h2>Compras</h2></div></a>
          
            <input type="text"  placeholder="Search" class="w-8rem sm:w-auto border-b border-dashed text-gray-400 bg-inherit focus:outline-none focus:text-white mr-2"/>
            <span class="pi pi-search text-xl"></span>
           
          </div>


          <!-- Botón para el menú en pantallas pequeñas -->
          <div class="flex md:hidden items-center">
             <button (click)="toggleMenu()" class="text-gray-400 hover:text-white">
                <!-- Icono del menú -->
                <span class="pi pi-bars text-2xl"></span>
             </button>
          </div>
       </div>


       <!-- Menú desplegable en móvil -->
       <div *ngIf="menuOpen" class="md:hidden">
          <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-gray-700">Inicio</a>
          <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-gray-700">Productos</a>
          <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-gray-700">Servicios</a>
          <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-gray-700">Contacto</a>
       </div>
    </div>
 </nav>
 