<nav class="bg-black text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
       <div class="flex justify-around h-20">
          <!-- Logo -->
          <div class="flex-shrink-0 flex items-center">
             <a href="/home" class="text-2xl font-semibold">
                <div class="grid grid-rows-2 gap-0 text-center">
                   <!-- Primera fila: "MI" y el logo -->
                   <div class="flex items-center justify-center">
                      <p class="mr-1">MI</p>
                      <img
                         src="https://res.cloudinary.com/dqgykik8d/image/upload/v1730131519/logo-removebg-preview_thlday.png"
                         class="h-8 w-auto"
                         alt="Logo"
                      />
                   </div>
                   <!-- Segunda fila: "BOLETA" centrado -->
                   <p>BOLETA</p>
                </div>
             </a>
          </div>

          <!-- Menu del medio -->
          <div class="hidden md:flex space-x-4 items-center text-yellow-500">
             <a href="#" class="px-3 py-2 rounded-md text-sm font-medium border  hover:bg-gray-700">Eventos</a>
             <a href="#" class="px-3 py-2 rounded-md text-sm font-medium border hover:bg-gray-700">Categorías</a>
            
          </div>
          
          <!-- Menu del fin -->
          <div class="hidden md:flex space-x-4 items-center">
           <app-dialog></app-dialog>
            <a href="#" class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700"><div class="flex flex-col justify-center items-center"> <span class="pi pi-shopping-bag text-2xl"></span><h2>Compras</h2></div></a>
          
            <input type="text"  placeholder="Search" class="w-8rem sm:w-auto border-b border-dashed text-gray-400 bg-inherit focus:outline-none focus:text-white mr-2"/>
            <span class="pi pi-search text-xl"></span>
           
          </div>


           <!-- Botón para el menú en pantallas pequeñas -->
      <div class="flex md:hidden items-center">
         
           <label   class="btn btn-circle swap swap-rotate">
             <input type="checkbox" (click)="toggleMenu()"/>
             <svg
               class="swap-off fill-current"
               xmlns="http://www.w3.org/2000/svg"
               width="32"
               height="32"
               viewBox="0 0 512 512"
             >
               <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" />
             </svg>
             <svg
               class="swap-on fill-current"
               xmlns="http://www.w3.org/2000/svg"
               width="32"
               height="32"
               viewBox="0 0 512 512"
             >
               <polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49" />
             </svg>
           </label>
         
       </div>
     </div>
 
     <!-- Menú desplegable en móvil -->
     <div *ngIf="menuOpen" class="md:hidden transition-all duration-300 ease-in-out origin-top">
       <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-gray-700">Inicio</a>
       <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-gray-700">Productos</a>
       <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-gray-700">Servicios</a>
       <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-gray-700">Contacto</a>
     </div>
    </div>
 </nav>
 