
@import "primeicons/primeicons.css"; 
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";                           /* Iconos de PrimeNG */
                 
@tailwind base;
@tailwind components;
@tailwind utilities;



body, html {
    height: 100%;
    margin: 0;
    padding: 0;
 }
 
#app-root {
    min-height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
    background-color: #400101; /* Cambia este color al que prefieras */
 }