<div class="drawer drawer-end">
    <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content hover:bg-gray-700 px-3 py-2 rounded-md">
      <!-- Page content here -->
      <label for="my-drawer-4" class="  text-sm font-medium "><div class="flex flex-col justify-center items-center"> <span class="pi pi-shopping-bag text-2xl"></span><h2>Compras</h2></div></label>
    </div>
    <div class="drawer-side z-30">
      <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
     
      <div class="menu bg-[#edb118] text-base-content min-h-full w-96 ">
        <div class="flex flex-row bg-[#400101] items-center ">
            <h2 class=" text-2xl text-white p-10">Mis Compras </h2>
            <img
                src="https://res.cloudinary.com/dqgykik8d/image/upload/v1730131519/logo-removebg-preview_thlday.png"
                class="h-16 w-auto"
                alt="Logo"
             />

        </div>
       
        <div class="flex justify-center mb-4">
          <!-- Tabs Container -->
          <div class="flex space-x-2 bg-inherit-200 rounded-lg p-1 border-neutral-950 border-2 mt-4">
            <!-- Tab 1: Boletas Activas -->
            <label class="flex items-center space-x-2 py-2 px-4 cursor-pointer rounded-lg transition-colors duration-200"
              [ngClass]="{'bg-red-600 text-white': selectedTab === 'active', 'text-gray-700': selectedTab !== 'active'}"
              (click)="selectTab('active')">
              <span class="pi pi-ticket"></span>
              <span>Boletas Activas</span>
            </label>
        
            <!-- Tab 2: Historial -->
            <label class="flex items-center space-x-2 py-2 px-4 cursor-pointer rounded-lg transition-colors duration-200"
              [ngClass]="{'bg-red-600 text-white': selectedTab === 'history', 'text-gray-700': selectedTab !== 'history'}"
              (click)="selectTab('history')">
              <span class="pi pi-history"></span>
              <span>Historial</span>
            </label>
          </div>
        </div>
        
        <!-- Contenido del Tab Seleccionado -->
        <div class="p-4 flex flex-col ">
          <div *ngIf="selectedTab === 'active'" class="bg-[#DD9843] w-full text-neutral-950 rounded-lg p-5 ">
            <h3 class="text-2xl font-bold">La bohemia</h3>
            <div class="grid grid-cols-3">
              <span class="pi pi-ticket text-3xl"></span>
              <div class="">
                <div class="flex">
                  <span class="pi pi-calendar"></span>
                  <h4>22/08/2024</h4>

                </div>
                <div class="flex">
                  <span class="pi 
                  pi pi-users"></span>
                  <h4>2</h4>

                </div>
               
                

              </div>

              <div class="flex">
                <span class="pi 
                pi-map-marker"></span>
                <h4>Julio Mario Santo Domingo</h4>
  
              </div>
              
            </div>
            
            
          </div>
          <div *ngIf="selectedTab === 'history'">
            <h3 class="text-lg font-bold">Historial</h3>
            <p>Contenido del historial de boletas...</p>
          </div>
        </div>


        
         <!-- Contenido del Tab Seleccionado -->
         <div class="p-4 flex flex-col ">
          <div *ngIf="selectedTab === 'active'" class="bg-[#DD9843] w-full text-neutral-950 rounded-lg p-5 ">
            <h3 class="text-2xl font-bold">La bohemia</h3>
            <div class="grid grid-cols-3">
              <span class="pi pi-ticket text-3xl"></span>
              <div class="">
                <div class="flex">
                  <span class="pi pi-calendar"></span>
                  <h4>22/08/2024</h4>

                </div>
                <div class="flex">
                  <span class="pi 
                  pi pi-users"></span>
                  <h4>2</h4>

                </div>
               
                

              </div>

              <div class="flex">
                <span class="pi 
                pi-map-marker"></span>
                <h4>Julio Mario Santo Domingo</h4>
  
              </div>
              
            </div>
            
            
          </div>
          <div *ngIf="selectedTab === 'history'">
            <h3 class="text-lg font-bold">Historial</h3>
            <p>Contenido del historial de boletas...</p>
          </div>
        </div>
         <!-- Contenido del Tab Seleccionado -->
         <div class="p-4 flex flex-col ">
          <div *ngIf="selectedTab === 'active'" class="bg-[#DD9843] w-full text-neutral-950 rounded-lg p-5 ">
            <h3 class="text-2xl font-bold">La bohemia</h3>
            <div class="grid grid-cols-3">
              <span class="pi pi-ticket text-3xl"></span>
              <div class="">
                <div class="flex">
                  <span class="pi pi-calendar"></span>
                  <h4>22/08/2024</h4>

                </div>
                <div class="flex">
                  <span class="pi 
                  pi pi-users"></span>
                  <h4>2</h4>

                </div>
               
                

              </div>

              <div class="flex">
                <span class="pi 
                pi-map-marker"></span>
                <h4>Julio Mario Santo Domingo</h4>
  
              </div>
              
            </div>
            
            
          </div>
          <div *ngIf="selectedTab === 'history'">

            
            
          </div>
        </div>

        <div class="flex justify-center">

          <button class="btn"> Cerrar</button>
        </div>
        
    </div>
    </div>
  </div>




