

<!-- Open the modal using ID.showModal() method -->
<button class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700" onclick="my_modal_5.showModal()"><div class="flex flex-col justify-center items-center"> <span class="pi pi-user text-2xl"></span><h2>Ingresar</h2></div> </button>
<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>


<!-- <div class="card flex justify-content-center">
    <p-button (onClick)="showDialog()"  class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700"> <div class="flex flex-col justify-center items-center"> <span class="pi pi-user text-2xl"></span><h2>Ingresar</h2></div> </p-button>
    <p-dialog 
        header="Header" 
        [(visible)]="visible" 
        [modal]="true" 
        [style]="{ width: '25rem' }">
            <ng-template pTemplate="header">
                <div class="inline-flex align-items-center justify-content-center gap-2">
                    <p-avatar 
                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                        shape="circle" />
                    <span class="font-bold white-space-nowrap">
                        Amy Elsner
                    </span>
                </div>
            </ng-template>
            <span class="p-text-secondary block mb-5">Update your information.</span>
            <div class="flex align-items-center gap-3 mb-3">
                <label for="username" class="font-semibold w-6rem">
                    Username
                </label>
                <input pInputText id="username" class="flex-auto" autocomplete="off" />
            </div>
            <div class="flex align-items-center gap-3 mb-5">
                <label for="email" class="font-semibold w-6rem">Email</label>
                <input pInputText id="email" class="flex-auto" autocomplete="off" />
            </div>
            <ng-template pTemplate="footer">
                <p-button 
                    label="Cancel" 
                    [text]="true" 
                    severity="secondary" 
                    (onClick)="visible = false" />
                <p-button 
                    label="Save" 
                    [outlined]="true" 
                    severity="secondary" 
                    (onClick)="visible = false" 
                  />
            </ng-template>
    </p-dialog>
</div> -->